@import "../shared/theme.scss";

#main {
  height: 100%;
  overflow: hidden;
  
  & #header {
    & #title {
      padding: 0px !important;
      font-size: 5rem;
      font-family: "TomeoftheUnknown", serif;
    }
  
    flex-shrink: 0;
  }
  
  & #content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    overflow: hidden;
  }

  & #footer {
    flex-shrink: 0;
  }
}



a {
  color: $link-color;
  fill: $link-color;
  &:hover {
    color: $hilite-color;
    fill: $hilite-color;
  }
}
