@import "../shared/theme.scss";

#main {
  margin: 0px auto;
}

a {
  color: $link-color;
  fill: $link-color;
  &:hover {
    color: $hilite-color;
    fill: $hilite-color;
  }
}

.app-title {
  padding: 0px !important;
  font-size: 5rem;
  font-family: $title-font;
  & a {
    text-decoration: none !important;
  }
}
