@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "shared/theme.scss";

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: $background-color;
  color: $foreground-color;
  font-size: 1em;
  font-family: $body-font;
  justify-content: center;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  font-family: $body-font;
}

h1,
h2 {
  font-family: $title-font;
  color: $link-color;
}

#root, #main {
  overflow-y: unset;
}

.text-center {
  text-align: center;
}

.flex-magic {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
