@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "shared/theme.scss";

body {
  margin: 0px;
  padding: 0px;
  background-color: $background-color;
  color: $foreground-color;
  font-size: 1em;
  font-family: $body-font;
}

button {
  font-family: $body-font;
}

h1, h2 {
  font-family: $title-font;
  color: $link-color;
}

.text-center {
  text-align: center;
}
