$background-color: #231C0C;
$light-background-color: #453717;
$foreground-color: #b0a18e;
$hilite-color: #b0a18e;
$link-color: #97743a;
$title-color: #97743a;

$body-font: 'FertigoPro', serif;
$title-font: 'TomeOfTheUnknown', serif;

@font-face {
    font-family: 'FertigoPro';
    src:  url('./fonts/FertigoPro.woff2') format('woff2'),
          url('./fonts/FertigoPro.woff') format('woff');
  }

@font-face {
    font-family: 'TomeOfTheUnknown';
    src:  url('./fonts/TomeOfTheUnknown.woff2') format('woff2'),
          url('./fonts/TomeOfTheUnknown.woff') format('woff');
}