@import "../../shared/theme.scss";

.ancestry-copyright {
  font-family: serif;
  font-size: .8rem;
}

.ancestry-name-part-meanings {
  padding-left: .5rem;
  width: 100%;
  text-align: left;
  border-spacing: 0px;
  & .ancestry-name-part-header {
  background-color: $light-background-color;
  }
  & .ancestry-name-part {
  font-weight: bold;
  width: 20%;
  vertical-align: top;
  }
}